# Web scraping
selenium
webdriver-manager

# Data manipulation
numpy==1.26.4
pandas==2.2.2

# Machine learning
scikit-learn==1.4.2

# FAISS for fast similarity search (CPU version)
faiss-cpu
transformers==4.35.2

# Web apps / dashboarding
streamlit

# Visualization
matplotlib==3.8.4
seaborn==0.13.2
plotly==5.20.0

# Embeddings and acceleration
sentence_transformers
accelerate


gunicorn
