# Web scraping
selenium
webdriver-manager

# Data manipulation
numpy==1.26.4
pandas==2.2.2

# Machine learning
scikit-learn==1.4.2

# FAISS for fast similarity search (CPU version)
faiss-cpu

# Transformers & sentence embeddings
transformers==4.35.2
sentence_transformers
accelerate  # optional, remove if unused

# Web app (Flask)

Flask==3.0.3
gunicorn==23.0.0


python-dotenv

# Visualization (optional — keep only if you're using them in backend)
matplotlib==3.8.4
seaborn==0.13.2
plotly==5.20.0
